<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Hello, Sails! <i class="fa fa-cloud" style="font-size:60px;color:lightblue;"></i></h1>
  <p class="lead">El siguiente proyecto web fue creado utilizando el framework SailsJS.
    Se decidio utilizar dicho framework con el objetivo de estudiar el mismo, dado que el concepto
    ofrecido de crear paginas web con un backend puramente en nodeJS es interesante.
    Otro motivo por que se secciono dicho framework es que en comparacion con frameworks como Ionic, Angular, React o
    Electron.
    Sails es menos conocido que los antes mencionados, por lo cual se espera aprender mucho de la utilizacion de esta
    herramienta.
  </p>
  <hr class="my-4">
  <p> A continuación pordra encontrar una breve descirpción de algunas de las tecnologias utilizadas.</p>
</div>

<div class="d-flex p-2 shadow p-3 mb-5 bg-white rounded">
  <p class="text-justify"><a href="https://sailsjs.com/"><img style="float: left; padding: 5px" alt="Sails.js brand logo"
        src="//upload.wikimedia.org/wikipedia/en/thumb/b/b4/SailsJS_logo.png/220px-SailsJS_logo.png" width="110" height="48"
        srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/b4/SailsJS_logo.png/330px-SailsJS_logo.png 1.5x, 
      //upload.wikimedia.org/wikipedia/en/thumb/b/b4/SailsJS_logo.png/440px-SailsJS_logo.png 2x"
        data-file-width="515" data-file-height="193"></a>
    Sails es un marco de trabajo de Node.js utilizado para crear aplicaciones personalizadas de Node.js de nivel
    empresarial. Se jacta de ser el marco MVC Node.js más popular con el soporte para los requisitos de aplicaciones
    modernas. Las
    API están basadas en datos, con una arquitectura orientada a servicios escalable. Echemos un vistazo más de cerca a
    lo que
    significan aquí. Sails agrupa un ORM, líneas de agua, que hace posible la compatibilidad con casi todas las bases
    de datos,
    y proporciona una gran cantidad de proyectos comunitarios. Algunos de sus adaptadores soportados oficialmente
    incluyen MYSQL,
    Mongo, PostgreSQL, Redis e incluso Local Disk. Mirando el backend, simplemente ejecutando un comando de
    instalación, `las velas
    generan una librería de API» por ejemplo, las velas te hacen volar la mente al proporcionarte algunos planos
    básicos, sin que
    escribas ningún código. Este comando le proporciona puntos finales a la librería CRUD. Crees que está bien, mira
    esto: Sails
    también es compatible con casi todas las tecnologías frontend, desde React, Angular, Backbone, iOS / Objective C,
    Android /
    Java, Windows Phone y probablemente incluso algunas tecnologías aún por crear. Las características resumidas
    incluyen;
    Generadores automaticos. No requiere enrutamiento adicional. Gran compatibilidad con otras tecnologías de frontend.
    Soporte transparente
    para websockets. Permite una compilación rápida de API REST. Compatible con casi todas las bases de datos y
    facilidad para manejo de ORM.
    Para más informacion puede consultar la documentacion oficial en <a href="https://sailsjs.com/documentation/reference">Sails.com</a></p>
</div>

<div class="card-deck">
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <!-- <h5 class="card-title"> </h5> -->
      <hr class="my-4">
      <p class="text-justify"><a href="https://nodejs.org/es/"><img style="float: left; padding: 5px" alt="Logo Node.js"
            src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/200px-Node.js_logo.svg.png" width="100"
            height="61" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/300px-Node.js_logo.svg.png 1.5x, 
      //upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/400px-Node.js_logo.svg.png 2x"
            data-file-width="590" data-file-height="361"></a>
        Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa
        del servidor (pero no limitándose a ello) basado en el lenguaje de programación ECMAScript, asíncrono,
        con I/O de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google. Fue creado
        con el enfoque de ser útil en la creación de programas de red altamente escalables, como por ejemplo,
        servidores web.4​ Fue creado por Ryan Dahl en 2009 y su evolución está apadrinada por la empresa Joyent,
        que además tiene contratado a Dahl en plantilla.5​ 6​ Node.js es similar en su propósito a Twisted o Tornado de
        Python, Perl Object Environment de Perl, libevent o libev de C, EventMachine de Ruby, vibe.d de D y Java EE de
        Java existe Apache MINA, Netty,
        Akka, Vert.x, Grizzly o Xsocket. Al contrario que la mayoría del código JavaScript, no se ejecuta en un
        navegador, sino en el servidor. Node.js implementa algunas especificaciones de CommonJS.7​ Node.js incluye un
        entorno REPL para depuración interactiva.
        Para más informacion puede consultar la documentacion oficial en <a href="https://nodejs.org/es/docs/">Nodejs.org</a></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 13 mins ago</small>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <!-- <h5 class="card-title"> </h5> -->
      <hr class="my-4">
      <p class="text-justify"><a href="https://getbootstrap.com/"><img style="float: left; padding: 5px" alt="Boostrap logo.svg"
            src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/250px-Boostrap_logo.svg.png"
            width="70" height="71" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/375px-Boostrap_logo.svg.png 1.5x, 
    //upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/500px-Boostrap_logo.svg.png 2x"
            data-file-width="2000" data-file-height="2008"></a>
        Bootstrap es una biblioteca multiplataforma de código abierto para diseño de sitios
        y aplicaciones web. Contiene plantillas de diseño con tipografía, formularios, botones, cuadros, menús de
        navegación y otros
        elementos de diseño basado en HTML y CSS, así como extensiones de JavaScript adicionales. A diferencia de
        muchos frameworks web, solo se
        ocupa del desarrollo front-end. Es usado por la NASA y la MSNBC entre otras
        organizaciones Bootstrap tiene un soporte relativamente incompleto para HTML5 y CSS 3, pero es compatible con
        la mayoría de los navegadores web.

        Las propiedades introducidas en CSS3 para las esquinas redondeadas, gradientes y sombras son usadas a pesar de
        la falta de
        soporte de navegadores antiguos. Esto extiende la funcionalidad de la herramienta, pero no es requerida para su
        uso. Desde la versión 2.0
        también soporta diseños web adaptables. Bootstrap es de código abierto y está disponible en GitHub. Los
        desarrolladores
        están motivados a participar en el proyecto y a hacer sus propias contribuciones a la plataforma.
        Para más informacion puede consultar la documentacion oficial en <a href="https://getbootstrap.com/docs/4.2/getting-started/introduction/">Bootstrap.com</a></p>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 31 mins ago</small>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <!-- <h5 class="card-title"> </h5> -->
      <hr class="my-4">
      <p class="text-justify"><a href="https://jquery.com/"><img alt="JQuery logo text.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/JQuery_logo_text.svg/245px-JQuery_logo_text.svg.png"
            width="122" height="34" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/JQuery_logo_text.svg/368px-JQuery_logo_text.svg.png 1.5x, 
      //upload.wikimedia.org/wikipedia/commons/thumb/8/81/JQuery_logo_text.svg/490px-JQuery_logo_text.svg.png 2x"
            data-file-width="420" data-file-height="118"></a>
        jQuery es una biblioteca multiplataforma de JavaScript, creada inicialmente por John Resig, que permite
        simplificar la manera de interactuar con los
        documentos HTML, manipular el árbol DOM, manejar eventos, desarrollar animaciones y agregar interacción con la
        técnica AJAX a páginas web. Es software libre y
        de código abierto, posee un doble licenciamiento bajo la Licencia MIT y la Licencia Pública General de GNU v2,
        permitiendo su uso en proyectos libres y privados.
        Al igual que otras bibliotecas, ofrece una serie de funcionalidades basadas en JavaScript que de otra manera
        requerirían de mucho más código, es decir,
        con las funciones propias de esta biblioteca se logran grandes resultados en menos tiempo y espacio.
        Basicamente consiste en un único fichero JavaScript que contiene las funcionalidades
        comunes de DOM, eventos, efectos y AJAX. La característica principal de la biblioteca es que permite cambiar el
        contenido de una página web sin necesidad de recargarla,
        mediante la manipulación del árbol DOM y peticiones AJAX. Para ello utiliza las funciones $() o jQuery().
        Para más informacion puede consultar la documentacion oficial en <a href="https://getbootstrap.com/docs/4.2/getting-started/introduction/">JQuery.com</a></p>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 25 mins ago</small>
    </div>
  </div>
</div>